/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#home_logo{
  font-size: 3.5rem;
  padding-top: 4px;
}

#back_logo{
  font-size: 3.5rem;
  padding-top: 4px;
}

#btn-same-size{
  width: 12rem
}

#plus-sign{
  /* display: flex ; */
  font-size: 2.5rem
}


#new_check{
  display: none;
}

.pessoa{
  width: 100%;
}


.imagem{
  height: 10rem
}
